.progress {
    background-color: #e9ecef;
    border-radius: .5rem;
    height: 1rem;
    font-size: .75rem;
    font-weight: 700;
}

.progress{
    display: flex;
    overflow: hidden;
}

.progress-bar {
    text-shadow: 1px 1px #777;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.complete {
    background-color: #28a745!important;
}

.progress-bar-animation{
    background: linear-gradient(to right, rgb(0,123,255, 1) 50%, rgb(0,123,255, 0.75) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-animation: background 1.5s ease infinite;
    -moz-animation: background 1.5s ease infinite;
    -o-animation: background 1.5s ease infinite;
    animation: background 1.5s ease infinite;
}

@-webkit-keyframes background {
    0% {
        background-position: right bottom;
    }
    100% {
        background-position: left bottom;
    }
}

@-moz-keyframes background {
    0% {
        background-position: right bottom;
    }
    100% {
        background-position: left bottom;
    }
}

@-o-keyframes background {
    0% {
        background-position: right bottom;
    }
    100% {
        background-position: left bottom;
    }
}

@keyframes background {
    0% {
        background-position: right bottom;
    }
    100% {
        background-position: left bottom;
    }
}

